<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between m-2">
            <div>
                <h5 class="card-title mb-0 pb-0">Investments</h5>
                <h6 class="card-title mt-0 pt-0 money-green">R5000.00</h6>
            </div>
            <div>
                <button class="btn btn-dark">add transaction</button>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="p-0 m-0">Product name</h6>
                        <small class="p-0 m-0">category</small>
                    </div>
                    <div>
                        <h6 class="p-0 m-0">Amount</h6>
                        <small class="p-0 m-0">12-jan-2002</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>