<div class="card centered m-5" style="width: 50rem;">
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <h5 class="card-title">User</h5>
        </div>
        <form>
            <div class="mb-3">
                <label for="userEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="userEmail">
            </div>
            <div class="row">
                <div class=" col mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
                <div class=" col mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>