<div class="row align-items-center">
    <div class="col-md-10">
        <app-accounts-header [userId]=currentUserId (selectedAccountIdEvent)="getTransactions($event)"
            [newAccountAddedEvent]="newAccountAddedEvent"></app-accounts-header>
    </div>
    <div class="col-md-2">
        <div class="align-items-center">
            <app-account-form [btnText]="newAccountBtn" (formDataEmitter)="addNewAccount($event)"></app-account-form>
        </div>
    </div>
</div>
<div class="">
    <div class="row mt-4">
        <div class="col-md-8 card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-2">
                    <div>
                        <h5 class="card-title mb-0 pb-0">{{currentAccount.name}}</h5>
                        <h6 class="card-title mt-0 pt-0 money-green">R{{currentAccount.balance}}</h6>
                    </div>
                    <div>
                        <app-transaction-form [btnText]="newTransactionBtn"
                            (formDataEmitter)="addNewTransaction($event)"></app-transaction-form>
                    </div>
                </div>
                <div class="overflow-auto trans-list">
                    <div>
                        <div class="row" *ngFor="let transaction of transactions">
                            <div class="col-md-10">
                                <div class="trans d-flex justify-content-between">
                                    <div class="m-0">
                                        <h6 class="p-0 m-0">{{ transaction.description }} </h6>
                                        <small class="p-0 m-0">{{ transaction.transactionType|lowercase }}</small>
                                    </div>
                                    <div class="text-end">
                                        <h6 class="p-0 m-0" >{{ transaction.amount|currency:'R' }}</h6>
                                        <small class="p-0 m-0">{{ transaction.transactionDate }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="trans p-0">
                                    <div class="d-flex flex-row">
                                        <div class=" w-100 h-100">
                                            <button class="l-btn btn w-100"><i class="bi bi-sliders2"></i></button>
                                        </div>
                                        <div class=" w-100 h-100">
                                            <button class="r-btn btn w-100"><i class="bi bi-trash3"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <app-account-event [accountId]="currentAccountId"></app-account-event>
            </div>
        </div>
    </div>
</div>