<ng-template #eventModal let-modal>
    <div class="centered m-5">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <h5 class="card-title">Event</h5>
            </div>
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="eventName" class="form-label">Event Name</label>
                    <input name="eventName" [(ngModel)]="eventName" type="text" class="form-control" id="eventName">
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input name="amount" [(ngModel)]="amount" type="number" class="form-control" id="amount">
                </div>
                <div class="mb-3">
                    <label for="eventType" class="form-label">Event Type</label>
                    <select name="eventType" [(ngModel)]="eventType" id="eventType" class="form-select">
                        <option selected>Select account</option>
                        <option value="BILLS">BILLS</option>
                        <option value="ELECTRICITY">ELECTRICITY</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="eventDate" class="form-label">Event date</label>
                    <input required name="eventDate" min="1" max="30" [(ngModel)]="eventDate" type="number" class="form-control" id="eventDate">
                </div>
                <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Submit</button>
            </form>
        </div>
    </div>
</ng-template>

<button class="btn btn-outline-dark" (click)="open(eventModal)">{{ btnText }}</button>